nltk>=3.2.5
numpy>=1.14.2
pandas>=0.23.4
scipy>=1.0.1
six>=1.11.0
requests>=2.18.4
tensorflow_gpu>=1.14
pascal_voc_writer>=0.1.4
Keras>=2.2
seaborn>=0.8.1
Cython>=0.28.2
matplotlib>=3.0.2
easydict>=1.7
setuptools>=39.0.1
cvxopt>=1.2.0
ipython>=7.3.0
Pillow>=5.4.1
pytest>=4.3.0
scikit_learn>=0.20.2
tensorflow>=1.12.0
xgboost>=0.81
PyYAML>=3.13
Pillow
