# Ignore Image #
################

*.jpg
*.jpeg
*.png
*.pkl

# The Model #
###################

*.mat
*.npy

# The Profiling file #
######################

*.json

# The Spyder folder #
#####################

__pycache__/*

*.pyc

# The PDF      #
################

*.pdf

# The folder      #
################

Classif_Paintings/*.txt
Classif_Paintings/*.npy
Classif_Paintings/__pycache/* 
Classif_Paintings/data/* 
*.html




